asgiref==3.8.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Django==5.1
django-phonenumber-field==8.0.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
phonenumbers==8.13.54
pillow==11.1.0
PyJWT==2.10.1
sqlparse==0.5.1
tzdata==2024.1
Werkzeug==3.0.3
